.image-popup__pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  /* width: 100%;
  height: auto; */
  max-width: 75vw;
  max-height: 75vh;

  width: 100%;
  object-fit: cover;
  display: block;
  max-width: 75vw;
  max-height: 72vh;
  border: none;
  outline: none;
}
